<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Genius Auto Parts</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/slidebars.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

<header>
  <div class="block-top-container sb-slide">
    <div class="container">
      <div class="row">
        <div class="col-sm-7 col-xs-6 block-top-left">
          <a class="btn btn-menu sb-toggle-left visible-xs-inline-block"><i class="fa fa-reorder fa-lg"></i></a>

          <div class="row hidden-xs">
            <div class="col-lg-4 col-md-5 col-sm-6 col-xs-6">
              <span>Language</span>

              <div class="btn-group block-language-wrapper">
                <button type="button" class="btn block-language dropdown-toggle" data-toggle="dropdown">
                  <img src="images/uk-flag.png">&nbsp;EN&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#"><img src="images/uk-flag.png"> EN</a></li>
                  <li><a href="#"><img src="images/us-flag.png"> US</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
              <span>Share</span>
              <a class="btn btn-link btn-social" href="#facebook"><i class="fa fa-facebook"></i></a>
              <a class="btn btn-link btn-social" href="#twitter"><i class="fa fa-twitter"></i></a>
              <a class="btn btn-link btn-social" href="#gplus"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-5 col-xs-6 block-top-links">
          <a class="btn btn-link hidden-xs" href="#mail_us"><i class="fa fa-envelope"></i> Mail us</a>
          <a class="btn btn-link hidden-xs btn-social" href="#login"><i class="fa fa-unlock"></i>&nbsp;Login</a>
          <a class="btn btn-link hidden-xs" href="#register">Register</a>
          <a class="btn btn-menu visible-xs-inline-block"><img src="images/cart-icon.png"></a>
        </div>
        <div id="block-search-form-xs" class="hidden-xs"></div>
      </div>
    </div>
  </div>
  <div class="block-middle-container sb-slide">
    <nav class="block-middle-nav">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 block-header-logo">
            <a href="/" class=""><img alt="" src="images/logo.png"></a>
          </div>
          <div class="col-sm-4 block-navbar-search hidden-xs" id="block-search-form-sm">
            <form id="search-form" action="#" class="navbar-form-custom">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                              </button>
                            </span>
              </div>
              <!-- /input-group -->
            </form>
          </div>
          <div class="col-sm-3 block-basket hidden-xs">
            <a href="#basket" class="btn btn-custom btn-basket">
              <img src="images/cart.png">
              <span class="basket-product-count">1</span>
              <span class="basket-product-price">4,176.00 $</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="block-bottom-container">
    <div class="container block-bottom-nav">
      <nav class="navbar navbar-custom sb-slidebar" role="navigation">
        <div class="navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="fa fa-home fa-lg"></i></a></li>
            <li><a href="#">Car Bulbs</a></li>
            <li><a href="#">Motorcycle Bulbs</a></li>
            <li><a href="#">Track Bulbs</a></li>
            <li><a href="#">LED Bulbs</a></li>
            <li><a href="#">Wiper Bulbs</a></li>
            <li><a href="#">Car Parts</a></li>
            <li><a href="#">Car Accessories</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>

<main class="sb-slide">
<div class="block-container-selects">
  <div class="container">
    <h4>Quick Search my car parts</h4>

    <div class="row block-reg-form">
      <div class="block-reg-form-row">
        <form class="form-inline form-enter-reg" role="form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">&nbsp;&nbsp;</div>
              <input class="form-control input-sm" type="text" placeholder="Enter your reg">
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-enter-reg">Find</button>
        </form>
      </div>
    </div>

    <div class="row block-selects">
      <div class="col-sm-3">
        <div class="form__select_custom">
          <div class="form__select_custom__text select-title">Select Vehicle</div>
          <select class="form-control input-sm">
            <option>Select Vehicle</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form__select_custom">
          <div class="form__select_custom__text select-title">Select Brand</div>
          <select class="form-control input-sm">
            <option>Select Brand</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form__select_custom">
          <div class="form__select_custom__text select-title">Select Model</div>
          <select class="form-control input-sm">
            <option>Select Model</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form__select_custom">
          <div class="form__select_custom__text select-title">Select Type</div>
          <select class="form-control input-sm">
            <option>Select Type</option>
          </select>
        </div>
      </div>
      <div class="col-sm-12 block-selects-submit">
        <button type="submit" class="btn btn-primary">Find</button>
      </div>
    </div>
  </div>
</div>
<div class="block-container-benefits margin-bottom-40">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 benefit">
        <img src="images/free_shipping.png"><span class="hidden-xs hidden-sm">Free Shipping</span>
      </div>
      <div class="col-xs-3 benefit">
        <img src="images/12_month_warranty.png"><span class="hidden-xs hidden-sm">Free 12 Month Warranty</span>
      </div>
      <div class="col-xs-3 benefit">
        <img src="images/quality_guaranteed.png"><span class="hidden-xs hidden-sm">Quality Guaranteed Parts</span>
      </div>
      <div class="col-xs-3 benefit">
        <img src="images/call_us_phone.png"><span class="hidden-xs hidden-sm">Call Us <strong class="call-us">00 44 1273 782120</strong></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="block-header">
  <h4>Featured Products</h4>
</div>
<div class="row margin-bottom-40 products-grid">
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <i class="fa fa-check fa-green product-status-icon" data-toggle="tooltip"
             data-placement="bottom" data-tooltip-color="fa-green" title="In Stock"></i>
          <i class="fa fa-star fa-orange product-status-icon" data-toggle="tooltip"
             data-placement="bottom" data-tooltip-color="fa-orange" title="Special Order Item"></i>
          <i class="fa fa-dropbox product-status-icon fa-orange" data-toggle="tooltip"
             data-placement="bottom" data-tooltip-color="fa-orange" title="Free Delivery"></i>

          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <i class="fa fa-times fa-red product-status-icon" data-toggle="tooltip"
             data-placement="bottom" data-tooltip-color="fa-red" title="Out of Stock"></i>
          <i class="fa fa-truck product-status-icon" data-toggle="tooltip" data-placement="bottom"
             title="2-8 Weeks Delivery"></i>
          <i class="fa fa-paper-plane product-status-icon" data-toggle="tooltip"
             data-placement="bottom" title="Fast Dispatch"></i>

          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 col-sm-6">
  <div class="product-container">
    <div class="product-header">
      <div class="product-image"><img src="images/product-image.png"></div>
      <div class="product-title"><h4>Alfa Romeo 156 (932) 1.6 16V T. Spark (932A4), BJ 09.97-09.05</h4>
      </div>
    </div>
    <div class="product-footer">
      <div class="row">
        <div class="col-xs-5">
          <span class="product-price">£ 70.00</span>
        </div>
        <div class="col-xs-7 product-actions">
          <a href="#" class="btn btn-product-buy">
            <img src="images/cart-button.png"> Buy
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="container margin-bottom-40">
  <div class="block-header">
    <h4>Latest news</h4>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="article-container">
        <div class="article-header">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-responsive" src="images/article-1.png">
            </div>
            <div class="col-lg-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014</div>
            <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="article-container">
        <div class="article-header">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-responsive" src="images/article-2.png">
            </div>
            <div class="col-lg-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014</div>
            <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="article-container">
        <div class="article-header">
          <div class="row">
            <div class="col-lg-6">
              <img class="img-responsive" src="images/article-3.png">
            </div>
            <div class="col-lg-6">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
        <div class="article-footer">
          <div class="row">
            <div class="col-xs-6 block-article-date"><i class="fa fa-calendar"></i> 16 Oct 2014</div>
            <div class="col-xs-6 block-readmore"><a class="btn btn-link">Read more</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

<footer class="margin-bottom-40 sb-slide">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 block-footer-socials">
        <a href="#facebook" class="btn btn-link">
          <i class="fa fa-facebook-square fa-3x"></i> Find us on facebook</a>
        <a href="#twitter" class="btn btn-link">
          <i class="fa fa-twitter-square fa-3x"></i> Find us on twitter</a>
      </div>
      <div class="col-sm-6 col-sm-pull-6 block-footer-payments">
        <img src="images/footer-payments-sage.png">
        <img src="images/footer-payments-cards.png">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-9 col-sm-push-3 block-footer-links">
        <ul class="list-inline">
          <li><a href="#terms-and-conditions">Terms & Conditions</a></li>
          <li><a href="#privacy-policy">Privacy Policy</a></li>
          <li><a href="#return-policy">Return Policy</a></li>
          <li><a href="#about-us">About us</a></li>
          <li><a href="#contact-us">Contact us</a></li>
        </ul>
      </div>

      <div class="col-sm-3 col-sm-pull-9">Copyright &copy; IMIP 2014</div>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/slidebars.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/jquery.backstretch.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
